<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>The Big Fat Movie Quiz</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="/style.css"/>-->
    <meta charset="utf-8" />
</head>
<body>
<h1>Quiz here</h1>

<tr th:each="movie:${movies}">
    <td th:text="${movie.description}"></td>
    <td th:text="${movie.correctTitle}"></td>
    <td th:text="${movie.wrongTitleOne}"></td>
    <td th:text="${movie.wrongTitleTwo}"></td>
</tr>

<ul class="nav nav-pills">
    <li class="nav-item" th:each="i : ${#numbers.sequence(0, movies.totalPages-1)}">
        <a th:href="@{/quiz/(page=${i})}" th:text="${i}" class="nav-link"
           th:classappend="${currentPage} == ${i} ? 'active' : ''"></a>
    </li>
</ul>

</body>
</html>