<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>The Big Fat Movie Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>    <!--<link rel="stylesheet" href="/style.css"/>-->
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="utf-8" />
</head>
<body>

<div class="backforth">
    <ul class="back">
        <li><a th:if="${currentPage} == 0" th:href="@{/}" th:text="Back" class="btn btn-success"></a></li>
        <li><a th:if="${currentPage} &gt; 0" th:href="@{/quiz/(page=${currentPage-1})}" th:text="Back" class="btn btn-success"></a></li>
    </ul>
    <ul class="forth">
        <li ><a th:href="@{/quiz/(page=${currentPage+1})}" th:text="Next" class="btn btn-success"></a></li>
    </ul>
</div>

<h3 th:text="'Movie No.' + ${currentPage + 1}"/>

<table>
    <tr th:each="movie:${movies}">
    <td th:text="${movie.description}"></td>
    </tr>
</table>
<table class="answers">
    <tbody>
    <tr th:each="movie:${movies}">
        <td th:text="${movie.correctTitle}"></td>
        <td th:text="${movie.wrongTitleOne}"></td>
        <td th:text="${movie.wrongTitleTwo}"></td>
    </tr>
    </tbody>
</table>
            <ul class="nav nav-pills">
                <li class="nav-item" th:each="i : ${#numbers.sequence(0, 10)}"></li>
            </ul>
    <p class="end"><a th:href="@{/score}" th:text="End" class="btn btn-danger"></a></p>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</body>
</html>