<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>The Big Fat Movie Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>    <!--<link rel="stylesheet" href="/style.css"/>-->
    <meta charset="utf-8" />
</head>
<body>
<h3 th:text="'Movie ' + ${currentPage}"/>


<table>
    <tr th:each="movie:${movies}">
    <td th:text="${movie.description}"></td>
    </tr>
</table>
<table>
    <tr th:each="movie:${movies}">
    <td th:text="${movie.correctTitle}"></td>
    <td th:text="${movie.wrongTitleOne}"></td>
    <td th:text="${movie.wrongTitleTwo}"></td>
    </tr>
   <tr>
   <td><ul class="nav nav-pills">
       <li class="nav-item" th:each="i : ${#numbers.sequence(0, movies.totalPages-1)}"></li>
   </ul>
   </td>
       <td>
<div th:if="${currentPage} > 1">
    <p><a th:href="@{/quiz/(page=${currentPage-1})}" th:text="Back" class="nav-link"
          th:classappend="${currentPage} > 1 ? 'active' : ''"></a></p>
</div>
       </td>
       <td>
<p><a th:href="@{/quiz/(page=${currentPage+1})}" th:text="Next" class="nav-link"
      th:classappend="${currentPage} == 1 ? 'active' : ''"></a></p>
       </td>
   </tr>
</table>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</body>
</html>